.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    animation: slideIn 0.3s ease-in-out;
}


.sidebar-header{
    color: #444;
    text-align: center;
    margin-bottom: .5rem;
}

.search-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.search-field input{
    padding: 15px;
    width: 100%;
    /* background-color: #f1f1f1; */
    border-radius: 10px;
    outline: none;
    border: 1px solid #ddd;
    color: #555;
}
.search-field i{
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

@keyframes slideIn {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}